<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=deice-width, initial-scale=1.0">
  <meta name="description" content="Milhões de músicas e podcasts para explorar. E nem precisa de cartão de crédito.">
  <title>Musicout</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>


<body>
	<header class="cabecalho">
		<a href="http://localhost:3000/musicsout"><img class="cabecalho-logo" src="Musicout-5.png" alt="Logo"></a>
    <nav class="cabecalho-menu">
			<ul>
      <li><a href="http://localhost:3000/musicsout/premium" class="cabecalho-menu-item">Premium</a></li>
      <li><a class="cabecalho-menu-item">Suporte</a></li>
      <li><a class="cabecalho-menu-item">Baixar</a></li>
			<a class="cabecalho-menu-item">|</a>
      <li><a class="cabecalho-menu-item">Inscrever-se</a></li>
      <li><a class="cabecalho-menu-item">Entrar</a></li>
			</ul>
    </nav>
	</header>
	<main class="conteudo">
		<section class="conteudo-principal">
			<div class="conteudo-principal-escrito">
				<h1 class="conteudo-principal-escrito-titulo">Escutar muda <p>tudo</p></h1>
				<h2 class="conteudo-principal-escrito-subtitulo">Milhões de músicas e podcasts para explorar. E nem precisa de cartão de crédito.</h2>
				<form action="https://www.youtube.com/">
				<button type="submit" class="conteudo-principal-escrito-botao">BAIXE O MUSICOUT FREE</button>
				</form>
			</div>
		</section>

		<section class="conteudo-secundario">
			<div class="conteudo-secundario-titulo">
				<table class="conteudo-secundario-tabela" width="700px" border=0>
					<tr class="conteudo-secundario-item">
						<a href="http://localhost:3000/musicsout"><img class="rodape-imagem" src="Musicout-5.png" alt="Logo"></a>
						<td class="conteudo-secundario-item"><strong>EMPRESA</strong></td>
						<td class="conteudo-secundario-item"><strong>COMUNIDADES</strong></td>
						<td class="conteudo-secundario-item"><strong>LINKS ÚTEIS</strong></td>
					</tr>
					<tr class="conteudo-secundario-tabela">
						<td class="conteudo-secundario-tabela-item"><a>Sobre</a></td>
						<td class="conteudo-secundario-tabela-item"><a>Para Artistas</a></td>
						<td class="conteudo-secundario-tabela-item"><a>Suporte</a></td>
					</tr>

					<tr class="conteudo-secundario-tabela">
						<td class="conteudo-secundario-tabela-item"><a>Empregos</a></td>
						<td class="conteudo-secundario-tabela-item"><a>Desenvolvedores</a></td>
						<td class="conteudo-secundario-tabela-item"><a>Player da Web</a></td>
					</tr>

					<tr class="conteudo-secundario-tabela">
						<td class="conteudo-secundario-tabela-item"><a>For the Record</a></td>
						<td class="conteudo-secundario-tabela-item"><a>Publicidade</a></td>
						<td class="conteudo-secundario-tabela-item"><a>Aplicativo móvel grátis</a></td>
					</tr>

					<tr class="conteudo-secundario-tabela">
						<td></td>
						<td class="conteudo-secundario-tabela-item"><a>Investidores</a></td>
						<td></td>
					</tr>

					<tr class="conteudo-secundario-tabela">
						<td></td>
						<td class="conteudo-secundario-tabela-item"><a>Fornecedores</a></td>
						<td></td>
					</tr>
				</table>	
		</section>
	</main>
	<footer class="rodape">
		<div class="baixo">
			<a href="https://www.facebook.com"><img class="rodape-baixo" src="facebook.svg" width="30" height="30"></a>	
			<a href="https://twitter.com"><img class="rodape-baixo" src="twitter.svg" width="30" height="30"></a>
			<a href="https://www.instagram.com"><img class="rodape-baixo" src="instagram.svg" width="30" height="32"></a>
		</div>
			<p class="rod">© 2022 Musicout<br>
			Musicout of Brazil Inc. | A sede está localizada em Fortaleza, Ceará (BR)</p> 
  </footer>
</body>
</html>